.landing-page{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #532290, rgb(37, 37, 37),  rgb(37, 37, 37));


    .resumo-l{
        display: flex;
        flex-direction: column;
        text-align: center;
       align-items: center;
       padding: 2em;
    }

    hr{
        max-width: 80%;
        width: 50%;
        min-width: 20%;
    }

    .texto1-l{
        padding: 1em;
        font-family: 'LR';
        color: white;
        font-size: 1.3em;
        width: 34em;
        line-height: 1.5em;
        

    }

    .ioio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3em;
    }

    .after-hours {
        display: flex;
        flex-direction: row;
        
    }

    .Pray> *{
    padding: 3em;
    }
    .Pray {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cry {
        height: 20em; 
        border-radius: 2em;
        margin-bottom: 1em;
    }

    .luv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'LB';
        color: #ffff;
      
    }

    .card-snack2::-webkit-scrollbar{
        height: 1.2em;      
    }

    .card-snack2::-webkit-scrollbar-track {
        background: #1A1919;  
    }

    .card-snack2::-webkit-scrollbar-thumb{
        background-color: none;
        border: 2px solid white;
    }

    .card-snack2::-webkit-scrollbar-thumb:hover{
        transition: 0.6s;
        background-color: white;
        border: none;
    }
    

    .juma {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .textocc {
        font-family: 'LSB';
        font-size: 2em;
    }

    .textocc2 {
        font-family: 'LR';
        line-height: 1.5em;
        font-weight: 100;
    }

    /*carrossel*/
    .container2{
        margin: 0;
        padding: 0;
        margin-top: 3em;
        margin-bottom: 3em;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .slider {
        width: 75em;
        height: 40em;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slides {
        width: 500%;
        height: 500px;
        display: flex;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        transition: 2s;
    }
    
    .img-carrossel {
        width: 75em;
        height: 40em;
        opacity: 90%;
    }
    
    .navigation-manual {
        position: absolute;
        width: 800px;
        margin-top: 36em;
        display: flex;
        justify-content: center;
        margin-left: 10em;

    }
    
    .manual-btn {
        border: 2px solid #ffff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s; 
    }
    
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    
    .manual-btn:hover {
        background: #ffff;
    }
    
    
    #radio1:checked ~ .first  {
        margin-left: 0;
    }
    
    
    #radio2:checked ~ .first  {
        margin-left: -20%;
    }
    
    #radio3:checked ~ .first  {
        margin-left: -40%;
    }
    
    #radio4:checked ~ .first  {
        margin-left: -60%;
    }
    
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 800px;
        justify-content: center;
        margin-top: 36em;
        margin-left: 10em;
    }
    .navigation-auto div {
        border: 2px solid #ffff; 
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    
    }
    
    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #ffff;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #ffff;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #ffff;
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #ffff;
    }

    /*interesse*/
    .resumo-interesse{
        background-image: url('../../../public/images/LOGIN.svg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        text-align: center;
       align-items: center;
       padding: 2em;
    }

    .img-interesse{
        margin-bottom: -7em;
    }

    .sub-titulo-i{
        color: white;
        font-family: 'LR';
        padding: 8em 0em 4em;
        font-size: 1.2em;
        width: 34em;
    }

    .salvar-botao-i{
        font-family: 'LM';
        background-color: #532290;
        font-size: 1.6em;
        color: white;
        padding: 10px 2em;
        border-radius: 10px;
        margin-bottom: 1em;
        text-decoration: none;
        margin-bottom: 5em;
    }

    .salvar-botao-i:hover{
        color: #532290;
        background-color: white;
        cursor: pointer;
        transition: 0.2s;
    }

    /*rodape*/

    .rodape {
        display: flex;
        flex-direction: row;
        background-color: #33283F;
        justify-content: space-around;
        padding-top: 2em;
        border-radius: 0px 3em 0px 0px;
    }

    .redeS {
        display: flex;
        flex-direction: column;
    }

    .sociais {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .popcorn {
        opacity: 100%;
        height: 10em;
        padding: 10px;
        mix-blend-mode: lighten; 
    }

    .logoo {
        font-family: 'LSB';
        color: #ffff;
        font-size: 10px;
    }

    .filme {
        font-family: 'LSB';
        color: #ffff;
        
    }

    h1 {
        font-size: 1.5em;
        font-family: 'LSB';
    }

    .snack {
        font-family: 'LSB';
        color: #ffff;
    }

    .salas {
        font-family: 'LSB';
        color: #ffff;
    }

    .contatos {
        font-family: 'LSB';
        color: #ffff;
    }

    .desc {
        font-size: 12px;
        
    }

    .espaco {
        margin-top: 15px;
    }

    .textos-px{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../../public/images/cinema2.svg');
        background-size: cover;
    }

    .img-back{
        background-color: none;
        padding: 1em;
    }

    .titulo-px{
        color: white;
        font-family: 'LSB';
        padding: 1em;
        font-size: 2.2em;
    }

    .texto-px{
        color: white;
        font-family: 'LR';
        font-size: 1.2em;
        width: 20em;
        text-align: center;
    }

    .cards{
        display: flex;
        flex-direction: row;
    }

}