
body{
    background-image: url('../../../public/images/LOGIN.svg');
    background-repeat: no-repeat;
    background-size: 150vw;
}


.pagina-cadastro{

    .cadastrar-page{
    background-size: cover;
    display: flex;
    flex-direction: column; 
    padding: 1em 2em 0em;
    }

    .logo-botoes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{
        opacity: 100%;
        height: 5em;
        padding: 10px;
        mix-blend-mode: lighten;
    }

    .voltar-botao{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .flecha {
        width: 2.1em;
        margin-bottom: 1em;
        display: flex;
        margin-right: 5px;
    }

    .salvar-botao{
        font-family: 'LSB';
        background-color: #AE4EDB;
        font-size: 1em;
        color: white;
        padding: 10px 2em;
        border: none;
        border-radius: 10px;
        margin-bottom: 1em;
    }

    .salvar-botao:hover{
        color: #AE4EDB;
        background-color: white;
        cursor: pointer;
        transition: 0.2s;
    }

    /*container*/

    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 81vh;
    }
    .centro {
    padding: 2em;
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: #595959;
    width: fit-content;
    border-radius: 1em;
    
    }

    .colunas{
        display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-between;
    margin-left: 15px;
    }

    .coluna1{
        display: flex;
        flex-direction: column;
    }

    .coluna2{
        display: flex;
        flex-direction: column;
    }

    .coluna-2-campos{
        display: flex;
        flex-direction: row;
    }

    .coluna-2-campos > * {
        margin-right: 1em;
    }

    /*campos*/

    .c-titulo{
        font-family: 'LSB';
        font-size: 1.7em;
        color: #F5F5F5;
    }

    .colunas > * {
        padding: 0em 6em;
    }

    .campos {
        display: flex;
        font-family: 'LSB';
        color: #F5F5F5;
        width: max-content ;
        margin-bottom: 0.4em;
    }

    
    .input-linha {
    opacity: 76%;
    background-color: #595959;
    height: 2em;
    width: none;
    border-radius: 5px;
    }

    .input-linha2 {
        opacity: 76%;
        background-color: #595959;
        height: 15em;
        width: 24em;
        border-radius: 5px;
        }

    .input-linhas {
        opacity: 76%;
        background-color: #595959;
        height: 2em;
        border-radius: 5px;
    }
    
    select{
        border: 2px solid #ffff;
        font-family: 'LSB';
    }

    input{
        border: 2px solid #ffff;
        margin-bottom: 1em;
        font-family: 'LSB';
       color: white;
    }

    .checkbox{
        margin-right: 14%;
    }

    .upload-capa {
        width: 20em;
        height: 15em;
        border: #F5F5F5 2px solid;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
   
       
    }


    #imagemCapa {
        visibility: hidden;
        position: absolute;
    
    }
    
    .imagem-capa {
        height: 15em;
        width: 20em;
        border-radius: 5px;
    }

    .image-capa {
        height: 5em;
        width: 2em;

        cursor: pointer;
    }

    textarea{
        border: 2px solid #ffff;
        margin-bottom: 1em;
        font-family: 'LSB';
       color: white;
      
    }
}

.ImagemPetv{
    width: 40em;
    height: 20em;
    background-color: #8CC4D6;
    color: #000000;
    border-radius: 40px;
    padding-bottom: 12em;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}



.imagem-pet{
    width: 40em;
    height: 20em;
    border-radius: 2.6em;
}

.ImagemPett {
    width: 15em;
    height: 20em;
    cursor: pointer;
 
}

#imagemCapa{
    position: absolute;
    visibility: hidden;
    
    
    
    
}





