.compra1 {

.foto {
    margin-top: 1em;
}
.foto-perfil{
    margin-top: 1em;
}

.letra-user{
    color: #ffff;
    font-family: 'LR';
    font-size: 1em;
    background-color: #AE4EDB;
    padding: 1em 1.5em;
    margin-right: 10px;
    margin-top: 1em;
    border-radius: 32px;
}

}