
.compra-combo{


    .head{
        display: flex;
        flex-direction: column;
        background-image: url('../../../../public/images/comboback.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }

    .logo {
        mix-blend-mode: lighten;
        width: 7.5em;
        margin-top: 1em;
        margin-left: 2em;
    }

    .cabecalho-pesquisa{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }

    .flecha-c {
        margin-left: 2.5em;
        margin-top: 1em;
    }

    .foto-perfil{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 3em;

        p {
            color: white;
            font-family: "LR";
        }
    }
    
    .textos-column {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        .pagamento {
        color: white;
        font-family: "LSB";
        font-size: 2em;
        padding: 0em 1em;
        margin-top: 7em;
        }

        .pagamento2 {
            color: white;
            font-family: "LM";
            margin-left: 2em;
        }
    }
    

   
    }


    


