.c-nomefilmeadd{
    display: flex;
    justify-content: center;
    background-color: #1A1919;

    .nome-filme-c{
        color: #AE4EDB;
        font-family: 'LB';
        margin-top: 1em;
        font-size: 1.3em;
        margin-bottom: 1em;
    }
    .nome-filme-c2{
        color: white;
        font-family: 'LM';
    }
}