.cartao-credito{
    display: flex;
    flex-direction: column;
    background-color: #1A1919;

    .parte-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em;
    }

    .parte-2 > * {
        margin-bottom: 2em;
    }

    .textos-column{
        display: flex;
        flex-direction: column;
        padding: 1em 3em;
    }

    .pagamento{
        color: white;
    }

    .pagamento2{
        color: white;
        font-family: 'LM';
        margin-bottom: 3em;
    }

    /*cartao*/

    .cartao1{
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 20px;
    }

    .cartao-texto{
        padding: 1em;
        font-family: 'LB';
        color: #AE4EDB;
    }

    .campos-cartao{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em;
    }

    .campo1{
        display: flex;
        flex-direction: column;
        padding: 1em 5em;
    }

    .campo2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1em 3em;
    }

    .texto-pagar{
      padding: 1em 0em;
      color: white;
      font-family: 'LM';
    }
    
    .input-pagar{
        background-color: #1A1919;
        color: white;
        font-family: 'LM';
        border: 2px solid white;
        width: 20em;
        height: 2em;
        border-radius: 6px;
    }

    .imagens{
        display: flex;
        flex-direction: row;
    }

    .imagens > *{
        margin-right: 1em;
    }

    .img-c{
        width: 5em;
        margin-top: 3em;
    }

    .cartao2{
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 20px;
        width: 78%;
    }

    .texto-centro{
        display: flex;
        justify-content: center;
    }

    .botao-continuar{
        color: white;
        background-color: #AE4EDB;
        font-family: 'LM';
        padding: 10px 2.4em;
        border-radius: 16px;
    }

    .botao-continuar:hover{
        cursor: pointer;
        color: #AE4EDB;
        background-color: #ffff;
        transition: 0.3s;
    }
   
    .certinho{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img-cc{
        width: 20px;
        height: 2em;
    }
}

