.pagamento-combo {
    background-color: #1A1919;
    .ajustes {
        position: relative;
        top: 2em;
       margin-left: 3em;
       padding: 1em 8.5em;
        .nome-combo {
            font-family: 'LM';
            color: #AE4EDB;
            font-size: 1.3em;
        }

        .descricao-combo {
            font-family: 'LM';
            color: #AE4EDB;
            font-size: 1em;  
        }

        .spacezinho{
            margin-bottom: 1em;
        }

        .teco{
            font-family: 'LM';
            color: white;
            padding: 10px;
        }

    }

}