.pedidos-feitos{
    border: 2px solid #fff;
    border-radius: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;


.descricao {
    display: flex;
    flex-direction: column;
   
}


.titulo {
    margin-bottom: 1em;
    font-size: 1.3em;
    color: #fff;
}


.alinhamento {
    display: flex;
    position: relative;
    top: 0em;
    justify-content: space-between;
    
}




.edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
}


.check-img {
width: 35px;
margin-left: 10px;
margin-bottom: 1em;

}



.remove-img {
    width: 46px;
    cursor: pointer;
    }

.esquerda {
    display: flex;
    margin-left: 1em;
    
}

.padrao {
    display: flex;
    flex-direction: row;

    label {       
        color: grey;
        font-size: 15px;
        font-family: 'LR';
    }

    h2 {
        text-align: start;
        font-family: 'LM';
        font-size: 1em;
        color: #fff;
       
    }


       
}

.img-capa-filme {
    width: 182px;
    padding: 15px;
}

h1 {
    font-family: 'LSB';
}

.stop {
    margin-right: 5em;
}

.borda {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.desc {
    margin-top: 2px;
    margin-left: 6px;
}

.desc-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aceitar-recusa {
    display: flex;
    flex-direction:column;
}
}


