*{
    margin: 0px;
}

.logo{
    margin-bottom: 2em;
}

.container {
    background-image: url('../public/images/cinemaa.svg');
    background-color: black;
    height: 100vh;
    background-size: cover;
}

.a{
 display: flex;
 align-items: center;
 justify-content: center;
}

.la {
    background-color: black;
}

.quadro {
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: #595959;
    height: 30em;
    width: 50em;
    border-radius: 1em;
    
}
.linha1 {

}
.linha2{

}

.faixao {
display: flex;
justify-content: center;
}

.faixa {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

img {
    height: 40px;
}

.she {
    display: flex;
    flex-direction: row;
}

.harry {
    display: flex;
    flex-direction: column;
    margin: 2em;
    
}

.can {
    opacity: 76%;
    background-color: #595959;
    width: 30em;
    height: 2em;
    border-radius: 5px;
}

input {
    border: solid #ffff;
}