*{
    margin: 0px;
}

.pagina-login{
.logo{
    margin-bottom: 2em;
}

.container {

    background-image: url('../public/images/LOGIN.svg');
    background-color: black;
    height: 100vh;
    background-size: cover;
}

.a{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 85vh;
}

.la {
    background-color: black;
}

.quadro {
    padding: 2em;
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: #595959;
    width: 70%;
    border-radius: 1em;
    
}
.linha1 {
  margin-top: 10px;
}

.linha2 {
    margin-bottom: 2em;
  }

hr {
    margin: 7px;
}


.faixao {
display: flex;
justify-content: center;
background-color: #8d8989;
margin-left: 7px;
margin-right: 7px;
}

.faixa {
    display: flex;
    justify-content: center;
}

.log {
    padding-left: 5px;
}

.login{
    font-family: 'LM';
    color: #ffff;
}

h1 {
    font-size: 35px;
    font-family: 'LR';
}

img {
    height: 40px;
}

.she {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-between;
    margin-left: 15px;
}

.harry {
    display: flex;
    flex-direction: column;
    
}

.squad2 {
    margin-top: 2em;
}

.titulo-1 {
    margin-bottom: 10px;
}

.can {
    opacity: 76%;
    background-color: #595959;
    width: 30em;
    height: 2em;
    border-radius: 5px;
}

.descricao {
    display: flex;
    font-family: 'LM';
    font-size: 1.3em;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    color: #ffff;
}

input {
    border: solid #ffff;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.b1 {
    margin-right: 2em;
}

.primeiro {
    padding: 8px  25px 10px 25px;
    
}

.titulo-1{
    font-family: 'LSB';
    color: white;
    opacity: 100%;
}


button {
    font-family: 'LSB';
    color: #ffff;
    background-color: #AE4EDB;
    border: none;
    border-radius: 12px;
}
.salvar-botao:hover{
    color: #AE4EDB;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}


}
