.add-sala{
    display: flex;
    flex-direction: column;
    background-color: #1A1919;

    .flecha {
        width: 2.1em;
        margin-bottom: 1em;
        display: flex;
        margin-left: 1em;
    }

    .salas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nome-filme-c{
        color: #AE4EDB;
        font-family: 'LB';
        margin-top: 1em;
        font-size: 1.3em;
        margin-bottom: 1em;
    }
    .nome-filme-c2{
        color: white;
        font-family: 'LM';
    }
}