.componente-home2{
    display: flex;
    flex-direction: column;
    padding: 3em 0em;
    margin-right: 2em;
    

    .card-principal{
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        background-color: #232323;
        border: #F5F5F5 solid 2px;
        margin-top: -2em;
    }

    .card-img{
        background-image: url('../../../../public/images/circuloroxo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 6em;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texto-card{
        padding: 3em 2em;
        font-family: 'LM';
        color: #fff;
        width: 20em;
        text-align: center;
    }

    .titulo-card{
        padding: 2em 2em;
        font-family: 'LM';
        font-size: 1.4em;
        color: #fff;
        width: 15em;
        text-align: center;
    }

   .img-card{
    width: 6em;
    padding: 10px;
    margin-left: 2px;
   }

   .preco-card{
    padding: 1em 0em;
    font-family: 'LM';
    color: #fff;
    font-size: 2.7em;
    text-align: center;
   }

   .preco-card2{
    font-family: 'LM';
    color: #fff;
    font-size: 15px;
    text-align: center;
   }
}