.nome-linha{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;
    background-color: none;

    .titulo-universal{
        font-size: 2em;
        padding: 15px 0em;
        color: white;
        font-family: 'LR';
    }

    .linhas-universais{
        width: 95%;
    }
}