
.adm-login{
.logo{
    margin-bottom: 2em;
    mix-blend-mode: lighten;
}

.container {

    background-image: url('../../../../public/images/LOGIN.svg');
    background-color: black;
    height: 100vh;
    background-size: cover;
}

.a{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 85vh;
}

.quadro1 {
    padding: 2em;
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: #595959;
    width: 70%;
    border-radius: 1em;
    
}
.line1 {
  margin-top: 10px;
}

.line2 {
    margin-bottom: 0em;
  }

hr {
    margin: 7px;
}


.faixao {
display: flex;
justify-content: center;
background-color: #b1abab;
margin-left: 7px;
margin-right: 7px;
}

.faixa {
    display: flex;
    justify-content: center;
}



h1 {
    font-size: 35px;
    font-family: 'LR';
}


.informacoes {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-between;
    margin-left: 15px;
}

.inserir {
    display: flex;
    flex-direction: column;
    
}

.quadro2 {
    margin-top: 2em;
}

.info{
    margin-bottom: 10px;
}

.poder {
    opacity: 76%;
    background-color: #595959;
    width: 30em;
    height: 2em;
    border-radius: 5px;
}

.textinho {
    display: flex;
    font-family: 'LM';
    font-size: 1.3em;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    color: #ffff;
}

input {
    border: solid #ffff;
}

.botozinhos {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.B1 {
    margin-right: 2em;
}

.segundo {
    padding: 8px  25px 10px 25px;
    
}

.info{
    font-family: 'LSB';
    color: white;
    opacity: 100%;
}


button {
    font-family: 'LSB';
    color: #ffff;
    background-color: #AE4EDB;
    border: none;
    border-radius: 12px;
}
.save:hover{
    color: #AE4EDB;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}


}
