.compra1{
    display: flex;
    flex-direction: column;

    .head{
        display: flex;
        flex-direction: column;
        background-image: url('../../../../public/images/outrofilmeruim.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    
    .setas-circle {
        display: flex;
        padding: 0em 2em;
        margin-bottom: 1em;
    }
    
    .voltar {
        width: 2.5em;
    }
    
    .title {
        padding: 0em 2em;
        margin-bottom: 10px;
    }
    
    
    .pesquisa-input{
        padding: 2em;
      }

      .flecha-c{
        margin-left: 2em;
    }
    
      .pesquisa-design{
          background-color: #1A1919;
          border: 2px solid rgb(206, 206, 206);
          border-radius: 5px;
          font-family: 'LM';
          color: white;
          position: relative;
          width: 90%;
          min-width: 7em;
          height: 2em;
      }
    
      .pesquisar-icon{
         background-color:inherit;
         border: none;
      }
    
      .img-pesquisa{
          width: 80%;
          margin-top: 5px;
          height: auto;
      }
    
      .img-pesquisa:hover{
          cursor: pointer;
      }
    
      .pesquisa-input .pesquisar-icon{
          position: absolute;
          transform: translate(-100%, 0%);
      }
    
        .logo{
            mix-blend-mode: lighten;
            width: 7.5em;
            margin-top: 1em;
            margin-left: 2em;
        }

        .foto {
            display: flex;
            flex-direction: row;
        }

        .perfil {
            width: 3em;
        }
        
        .foto-perfil {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 3em;

            p {
                color: #ffff;
                font-family: 'LR';
                
            }
        }
        .cabecalho-pesquisa{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
        }
        
        .pesquisa-input{
          padding: 2em;
        }
        
        .pesquisa-design{
            background-color: #1A1919;
            border: 2px solid rgb(206, 206, 206);
            border-radius: 5px;
            font-family: 'LM';
            color: white;
            position: relative;
            width: 90%;
            min-width: 7em;
            height: 2em;
        }
        
        .pesquisar-icon{
           background-color:inherit;
           border: none;
        }
        
        .img-pesquisa{
            width: 80%;
            margin-top: 5px;
            height: auto;
        }
        
        .img-pesquisa:hover{
            cursor: pointer;
        }
        
        .pesquisa-input .pesquisar-icon{
            position: absolute;
            transform: translate(-100%, 0%);
        }


        /*começo-real*/
        .textos-cimabaixo{
            display: flex;
            flex-direction: column;
        }

        .sub-textos{
            display: flex;
            flex-direction: row;
            padding: 0em 2em;
            margin-bottom: 1em;
        }

        .sub-textos > *{
            margin-right: 7px;
        }

        .titulo{
            color: #ffff;
            font-family: 'LSB';
            font-size: 2em;
            padding: 0em 1em;
            margin-top: 7em;
        }

        .categoria1{
            color: #ffff;
            padding: 5px 10px;
            font-family: 'LM';
            background-color: red;
            border-radius: 5px;
        }

        .categoria2{
            color: #ffff;
            padding: 5px;
            font-family: 'LM';
            border: 2px solid white;
            border-radius: 5px;
        }

        /*parte-2*/
        .data-p{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .data-p2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
        }

        .parte-2{
            display: flex;
            flex-direction: column;
            background-color: #1A1919;
            padding: 2em;
        }

        .textos-p2{
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            padding: 1em 3em;
        }

        .titulo1{
            color: #ffff;
            font-family: 'LB';
            font-size: 2em;
            margin-bottom: 1em;
        }

        .titulo2{
            color: #ffff;
            font-family: 'LB';
            font-size: 1.1em;
            margin-bottom: 7px;
        }

        .preco{
            font-family: 'LR';
            color: #ffff;
        }

        .salas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

       

}
