.snackbar{
    display: flex;
    flex-direction: column;

    .parte-1snack{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../../../public/images/comboback.svg');
    }

    .nome-titulo{
        color: white;
        font-family: 'LSB';
        font-size: 2.5em;
        padding: 4em 0em;
    }

    /*parte-2*/
    .parte-2snack{
        background-color: #1A1919;
        background-size: cover;
        padding: 2em;
    }

    .combo-nome{
        color: white;
        font-family: 'LSB';
        font-size: 2em;
        padding: 2em 0em 0em;
        
    }

    .card-snack2{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        }

    .card-snack2::-webkit-scrollbar{
        height: 1.2em;      
    }

    .card-snack2::-webkit-scrollbar-track {
        background: #1A1919;  
    }

    .card-snack2::-webkit-scrollbar-thumb{
        background-color: none;
        border: 2px solid white;
    }

    .card-snack2::-webkit-scrollbar-thumb:hover{
        transition: 0.6s;
        background-color: white;
        border: none;
    }
}