.container-comentario {
    margin-left: 3em;
    border-radius: 24px;
    border: 2px solid #fff;
    width: 35em;
    height: 10em;

    .border {
        margin-left: 1em;
    }
    
    .little-photo {
        display: flex;
        flex-direction: row;

        .alinhar {
            display: flex;
            flex-direction: column;
            margin-left: 8px;
            margin-top: 10px;
            font-family: 'LB';
            color: #fff;
        }

        .user-photo {
            width: 2.5em;
            position: relative;
            top: 0.5em;
        }

        

        
        
    }
}