.container-comentario {
    margin-left: 3em;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 30em;
    padding: 1em;
    margin-top: 2em;
    background-size: cover;
    background-color: #1A1919;

    .perfil{
        background-color: #AE4EDB;
        border-radius: 100px;
        padding: 1em 1.3em;
        color: #fff;
        font-family: 'LB';
    }

    .sentido{
        padding: 1em;
    }



    
    .little-photo {
        display: flex;
        flex-direction: row;

        .alinhar {
            display: flex;
            flex-direction: column;
            margin-left: 8px;
            margin-top: 10px;
            font-family: 'LB';
            color: #fff
        }

     
        
        
    }
}