.pedidos{
    border: 2px solid #fff;
    border-radius: 1em;
    margin: 2em 1em;
    padding: 2em 0em 2em 0em;

    .descricao {
        display: flex;
        flex-direction: column;
       
    }
    
    
    .titulo {
        margin-bottom: 0.5em;
    
    }
    .situa {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 20px;
    }

    .stop {
        margin-right: 5em;
    }
    .alinhamento {
        display: flex;
        position: relative;
        top: 1em;
        justify-content: space-between;
        
    }
    .esquerda {
        display: flex;
        margin-left: 1em;
        
    }

    
    
    .padrao {
        display: flex;
        flex-direction: row;
    
        label {       
            color: grey;
            font-size: 15px;
            font-family: 'LR';
        }
    
        h2 {
            text-align: start;
            font-family: 'LM';
            font-size: 1em;
            color: #fff;
           
        }        
    }

        h1 {
        text-align: start;
        font-family: 'LM';
        color: #fff;
        font-size: 1.1em;
    }
    
    .img-capa-filme {
        width: 182px;
        border-radius: 34px;
        position: relative;
        bottom: 9px;
        padding: 15px;
    }
    
    h1 {
        font-family: 'LSB';
    }
    
    
    .borda {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 0px;
    }
    
    .desc {
        margin-top: 2px;
        margin-left: 6px;
    }
    
    .desc-texto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .situ{
        width: 3em;
        position: relative;
        right: 2em;
        top: 2em;  
      }

        

        span {
            margin-left: 8px;
        }
            .verde{
                color: #0BB71C;
            }
    
            .vermelho {
                color: #d30f0fce;
            }
        
    
    
}

