
.page-principal{
    display: flex;
    flex-direction: column;
    background-image: url(''), linear-gradient(to top, #532290, rgb(37, 37, 37),  rgb(37, 37, 37));
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .filme-d-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7em;
    }

    .flecha-c{
        padding: 2em;
        width: fit-content;
    }

    .img-filme{
        margin-right: 3em;
        width: 22em;
        height: 30em;
        border-radius:30px;
    }

    .alinhar{
        display: flex;
        flex-direction: column;
    }

    .parte-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .titu-botao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.3em;
    }

    .titulo{
        font-family: 'LB';
        color: white;
        font-size: 1.7em;
        width: 13em;
    }

    .lancamento{
        font-family: 'LB';
        color: white;
        padding: 10px;
        border: 2px solid white;
        border-radius: 10px;
    }

    .compra-botao{
        display: flex;
        color: #DB1ED3;
        border-radius: 20px;
        font-family: 'LB';
        padding: 1em 3em;
        background-color: #2C2C2C;
    }

    .compra-botao:hover{
        background-color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }

    .campos{
        display: flex;
        flex-direction: column;
    }

    .sinopse1{
        color: #fff;
        font-family: 'LB';
        font-size: 1.2em;
        margin-top: 1em;
        width: 30em;
    }

    .sinopse2{
        color: #fff;
        font-family: 'LR';
        margin-left: 1em;
    }

    .sub1{
        color: #fff;
        margin-top: 1em;
        font-family: 'LB';
    }

    .sub2{
        font-family: 'LR';
        margin-left: 7px;
    }

    .b{
        padding: 0em 1em;
    }

    .comentarios-botao{
        display: flex;
        color: #DB1ED3;
        border-radius: 20px;
        width: 14em;
        font-family: 'LB';
        padding: 1em;
        background-color: #fff;
    }

    .comentarios-botao:hover{
        background-color: #DB1ED3;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
    }

    .container-filme{
        position: relative;
    }

    .top-right-verde {
        position: absolute;
        top: 2em;
        right: 4em;
        color:  white;
        font-family: 'LSB';
        background-color: #0BB71C;
        padding: 13px;
        border-radius: 20em;
      }

      .top-right-vermelho {
        position: absolute;
        top: 2em;
        right: 4em;
        color:  white;
        font-family: 'LSB';
        background-color: #b70b0b;
        padding: 13px;
        border-radius: 20em;
      }

      .tomate-pipoca{
        display: flex;
        flex-direction: row;
      }

      .tp-img-inicio{
        display: flex;
        flex-direction: row;
      }

      .tp-principal{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 13px;
      }

      .nota{
        color: white;
        font-family: 'LM';
        font-size: 1.5em;
      }

      .tomate-pipoca-img{
        width: 4em;
      }

      .textos-tp{
        color: white;
        font-family: 'LM';
        font-size: 13px;
        width: 10em;
      }

      .pipoca-img{
        width: 5.3em;
      }

}