@font-face {
    font-family: 'LM';
    src: url('../../public/fonts/LexendDeca-Medium.ttf');
}

@font-face {
    font-family: 'LR';
    src: url('../../public/fonts//LexendDeca-Regular.ttf');
}

@font-face {
    font-family: 'LSB';
    src: url('../../public/fonts/LexendDeca-SemiBold.ttf');
}

*{
    margin: 0px;
    box-sizing: border-box;
}