
.head-cabecalho{
    display: flex;
    flex-direction: column;
    background-color: #1A1919;
}

.letra-user{
    color: #ffff;
    font-family: 'LR';
    font-size: 1em;
    background-color: #AE4EDB;
    padding: 1.2em 1.8em;
    margin-right: 10px;
    margin-top: 1em;
    border-radius: 32px;
}
