
.head-cabecalho{
    display: flex;
    flex-direction: column;
    background-color: #1A1919;
}

.letra-user{
    color: #ffff;
    font-family: 'LR';
    font-size: 1em;
    background-color: #AE4EDB;
    padding: 1em 1.5em;
    margin-right: 10px;
    margin-top: 1em;
    border-radius: 32px;
}
.set {
    margin-bottom: 10px;
}

.nome-user {
  margin-top: 10px;
}