.bagui-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        color: #fff;
        font-family: 'LB';
    }

    .opinion {
        
        font-size: 1em;
    }
    .fds {
        width: 46%;
    }

    .espaco {
        margin-top: 2em;
    }

    .roxinho {
        font-family: 'LM';
        background-color: #AE4EDB;
        font-size: 1.6em;
        color: white;
        height: 2em;
        border-radius: 19px;
        margin-bottom: 1em;
        text-decoration: none;
        width: 10em;
        border: none;
    }
    .roxinho:hover {
        color: #532290;
        background-color: white;
        cursor: pointer;
        transition: 0.2s;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-button {
        display: block;
        width: 500px;
        background-color: #532290;
        border: 0px;
        height: 50px;
        margin-top: 200px;
        color: white;
    }

    
}