.bagui-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1A1919;
    min-height: 62vh;
    padding: 2em;


    p {
        color: #fff;
        font-family: 'LB';
    }

    .opinion {
        
        font-size: 1em;
    }
    .fds {
        width: 46%;
    }

    .espaco {
        margin-top: 2em;
    }

    .roxinho {
        font-family: 'LM';
        background-color: #AE4EDB;
        font-size: 1em;
        color: white;
        height: 2em;
        border-radius: 19px;
        margin-bottom: 1em;
        text-decoration: none;
        width: 10em;
        border: none;
    }
    .roxinho:hover {
        color: #532290;
        background-color: white;
        cursor: pointer;
        transition: 0.2s;
    }

    .scrol{
        overflow-y: auto;
        max-height: 32em;
        padding: 1.3em;
    }
    .scrol::-webkit-scrollbar{
        height: 1.2em;      
    }

    .scrol::-webkit-scrollbar-track {
        background: #1A1919;  
    }

    .scrol::-webkit-scrollbar-thumb{
        background-color: none;
        border: 2px solid white;
    }

        .logo{
            mix-blend-mode: lighten;
        }
    

    .quadro {
    padding: 2em;
    display: flex;
    flex-direction: column;
    opacity: 76%;
    background-color: #595959;
    width: 45%;
    height: 59%;
    border: 1px solid #fff;
    border-radius: 1em;
    }

    .titulo-center {
        position: relative;
        left: 9em;
    }

    .coment-titulo {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
    }

    .estrela {
        margin-bottom: 1em;
    }

    p {
        font-family: 'LR';
        color: #fff;
    }

    .inferno {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    h1 {
        font-family: 'LR';
        font-size: 2em;
        color: #fff;

    }

    input {
        border: 2px solid #ffff;
        margin-bottom: 1em;
        font-family: 'LSB';
        color: white;
    }


    
}

.opacidade { 
    opacity: 76%;
    background-color: #595959;
    height: 12em;
    width: 28em;
    border-radius: 10px;
}

.purple4 {
    font-family: 'LM';
    background-color: #AE4EDB;
    font-size: 1em;
    color: white;
    height: 2em;
    border-radius: 12px;
    margin-bottom: 1em;
    text-decoration: none;
    width: 8em;
    border: none;
}

.purple4:hover {
    color: #532290;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5em;
}

.cont-avaliacao-star2{     
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    width: 7em;
    height:2.4em;
    .star-icon2{ 
                list-style-type: none;
                cursor: pointer;
                color: #ffffff;
                font-size: 30px;
                margin: 0px;
        }

    .star-icon2::before{        
         content:"\2605";
    } 

    .star-icon2.ativo ~ .star-icon2::before{
        content: "\2606";
    }

    .cont-avaliacao-star2:hover .star-icon2::before{
        content: "\2605";     
    }     

    .star-icon2:hover ~ .star-icon2::before{ 
        content: "\2606";  
    } 


}