.home-adm{
    
    .parte-cima{
        background-image: url('../../../../public/images/coraline.svg');
        background-size: cover;
        width: 100%;
    }

    /*cabecalho*/
    .cabecalho-homeadm{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo{
        width: 8em;
        margin-bottom: 2em;
        mix-blend-mode: lighten;
    }

    .icon-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-persona{
        width: 3em;
        margin-top: 2em;
    }

    .texto-catalogo{
        text-align: center;
        font-family: 'LR';
        color: white;
        padding: 0em 1em;
    }

    /*parte-cima-tt*/
    .tt-adm{
        display: flex;
        flex-direction: column;
        padding: 0em 1em;
    }

    .cor-texto{
        font-family:'LB';
        color: #AE4EDB;
    }

    .titulo-adm{
        font-family: 'LSB';
        color: white;
        font-size: 2.3em;    
        padding: 10em 0em 0em 0em;
    }

    .sub-titu{
        margin-top: 10px;
        font-family: 'LR';
        color: white;
        margin-bottom: 5em;
    }

    .sub-titu-s{
        font-family: 'LB';
    }

    /*parte-baixo*/
    .parte-baixo{
        display: flex;
        flex-direction: column;
        background-color: #1A1919;
    }

    .parte-cards{
        display: flex;
        flex-direction: row;
    }

    .textos-baixo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-texto{
        font-family: 'LSB';
        color: white;
        margin-top: 3em;
        font-size: 2em;
    }

    .card-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    /*FINAL*/
    .sair-adm{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4em 2em 0em;
    }

    .sair-palavra{
        margin-left: 15px;
        color: white;
        font-family: 'LSB';
    }
}