.assento-page{
    display: flex;
    flex-direction: column;
    background-color: #1A1919;
    background-size: 100vw;
    height: 110vh;

    .seta-botao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        margin-bottom: 1.3em;
    }

    .flecha-c{
        margin-left: 2em;
    }

    .botao-continuar{
        color: white;
        background-color: #AE4EDB;
        font-family: 'LM';
        padding: 10px 2em;
        border-radius: 16px;
    }

    .botao-continuar:hover{
        cursor: pointer;
        color: #AE4EDB;
        background-color: #ffff;
        transition: 0.3s;
    }

    .assentos-inicio{
        display: flex;
        flex-direction: column;
        padding: 0em 4em;
    }

    .assento-cima{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .assento-baixo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .assento-cima2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .assento-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .assento-p{
        color: #AE4EDB;
        background-color: #AE4EDB;
        padding: 1em 1.2em;
        margin-right: 10px;
        margin-top: 1em;
    }

    .assento-p:hover{
        cursor: pointer;
        color: #af2f2f;
        background-color: #af2f2f;
        padding: 1em 1.2em;
        margin-right: 10px;
        margin-top: 1em;
    }

    .letra-assento{
        color: white;
        padding: 5px;
        font-family: 'LM';
    }

    .letra-assento1{
        color: white;
        padding: 5px;
        font-family: 'LM';
        margin-right: 18em;
    }

    .assento-p2{
        color: #AE4EDB;
        background-color: #AE4EDB;
        padding: 1em 1.2em;
        margin-right: 11em;
        margin-top: 1em;
    }

    .assento-p2:hover{
        cursor: pointer;
        color: #af2f2f;
        background-color: #af2f2f;
        margin-right: 11em;
        margin-top: 1em;
    }

    .numeros{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .n{
        color: white;
        padding: 1em 23px;
        font-family: 'LM';
    }

    .tela{
        display: flex;
        justify-content: center;
        padding: 3em;
    }

    .tela2{
        color: white;
        font-family: 'LB';
        font-size: 1.2em;
        background-color: rgba(89, 89, 89, 1);
        padding: 7px 22em;
    }

}