.catalogo-page{
    display: flex;
    flex-direction: column;
    background-color: #1A1919;

    .img-navegar-page{
        display: flex;
        flex-direction: row;
    }

    .navegacao{
        display: flex;
        flex-direction: column;
    }

    .linhas-c{
        color: #4D4949;
    }

    p{
        color: white;
    }

    .icons-c{
        padding: 8em 10px;
    }

    .icon-c img {
        width: 2em;
        padding: 1.3em 0em;
    }

    .logo{
        mix-blend-mode: lighten;
        width: 7.5em;
        margin-top: 1em;
    }

    .cabecalho-pesquisa{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-image: url('../../../../public/images/paisagem.svg');
        background-size: 100%;
        width: 100vw;
    }

    .pesquisa-input{
      padding: 2em;
    }

    .pesquisa-design{
        background-color: #1A1919;
        border: 2px solid rgb(206, 206, 206);
        border-radius: 5px;
        font-family: 'LM';
        color: white;
        position: relative;
        width: 90%;
        min-width: 7em;
        height: 2em;
    }

    .pesquisar-icon{
       background-color:inherit;
       border: none;
    }

    .img-pesquisa{
        width: 80%;
        margin-top: 5px;
        height: auto;
    }

    .img-pesquisa:hover{
        cursor: pointer;
    }

    .pesquisa-input .pesquisar-icon{
        position: absolute;
        transform: translate(-100%, 0%);
    }

    .bem-vindes{
        display: flex;
        font-family: 'LB';
        color: #D7D7D7;
        padding: 1em;
        font-size: 2em;
        width: 20em;
        margin-top: 9em;
    }   
    
    /*pagina-baixo*/

    .pagina-baixo{
        display: flex;
        flex-direction: column;
    }

    .texto-select{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4em 1.5em;
    }

    .texto-catalogo{
        font-family: 'LR';
        color: white;
    }

    .campos {
        display: flex;
        font-family: 'LSB';
        color: #F5F5F5;
        width: max-content ;
        margin-bottom: 0.4em;
    }

    .input-linhas {
        opacity: 76%;
        background-color: #1A1919;
        height: 2em;
        width: 16%;
        border-radius: 5px;
        border: 2px solid white;
    }
    
    .cards-filmes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}